*.class
.settings
.svn
.project
.classpath
target/

# Package Files #
*.jar
*.war
*.ear
target
/littcore-io/target
/littcore-log/target
/littcore-osgi/target
/littcore-security/target
/littcore-net/target
/.idea/
